/* 	=	=	=	=	Reset	=	=	=	=	=*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
		border:0;
		font-size:100%;
		font:inherit;
		vertical-align:baseline;
		margin:0;padding:0
	}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
		display:block
	}

body{
		line-height:1
		margin: 0 auto;
	}


blockquote,q{
		quotes:none
	}

blockquote:before,blockquote:after,q:before,q:after{
		content:none}table{border-collapse:collapse;border-spacing:0
	}

/*	=	=	=	=	=	=	fonts	=	=	=	=	=	=	*/

@font-face {
    font-family: 'CopystructBold';
    src: url('../fonts/copyb___-webfont.eot');
    src: url('../fonts/copyb___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyb___-webfont.woff') format('woff'),
         url('../fonts/copyb___-webfont.ttf') format('truetype'),
         url('../fonts/copyb___-webfont.svg#CopystructBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CopystructNormal';
    src: url('../fonts/copyn___-webfont.eot');
    src: url('../fonts/copyn___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyn___-webfont.woff') format('woff'),
         url('../fonts/copyn___-webfont.ttf') format('truetype'),
         url('../fonts/copyn___-webfont.svg#CopystructNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*	=	=	=	=	body =		=	=	=	=	*/

body{
	background: url(../images/background.jpg);
	margin: 0 auto;
}

header{
	padding-bottom: 50px;
}

p{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	color: #989898;
}

h1{
	font-size: 25px;
	font-family: 'CopystructNormal';
	color: #59181e;
}

h3{
	font-size: 20px;
	font-family: 'CopystructNormal';
	color: #59181e;
}

h4{
	font-size: 17px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #ffffff;
}

/*	=	=	=	footer	=	=	=	*/

/*	=	=	footer nav	=	=	*/
div#footer{
	background: rgba(155, 116, 117, .7);
	clear: left;
	margin: 0 auto;
	height: 240px;
}

#footer ul{
	background: rgba(65, 49, 39, .7);
}

#footer ul li{
	display: inline;
	width: 70px;
	height: 40px;
	border-left: 3px solid #59181e;
}

#footer ul li:first-child{
	border: none;
	margin-left: 300px;
}

#footer ul li a{
	height: 40px;
	margin: 5px 10px;
	padding: 0px 5px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 20px;
	text-decoration: none;
}

/*	=	=	Rest of footer	=	=	*/
#footer img{
	margin-top: 20px;
	margin-left: 300px;
	float: left;
}

div#doors{
	float: left;
	width: 250px;
	margin: 20px 10px;
}

div#doors p{
	color: #59181e;
}

div#hours{
	float: left;
	width: 250px;
	margin: 20px 10px;
}

div#hours p{
	color: #59181e;
}

div#copyright{
	clear: left;
	width: 500px;
	margin-left: 475px;
	margin-top: -50px;
}

div#copyright p{
	color: #59181e;
}

div#social{
	clear: left;
	margin-left: 300px;
}

div#social img{
	margin-top: 0;
	margin-left: 0;
	padding: 0px 5px;
}
/*	=	=	Navigation	=	=	*/

nav{
	position: relative;
}


 nav ul{
	background: #59181e;
	border-radius: 10px;
	width: 960px;
	height: 55px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

 nav ul li{
	display: inline;
	float: left;
	list-style: none;
	font-size: 15px;
	font-family: 'CopystructNormal';
	border-left: 2px solid #000000;
}

nav ul li:last-child{
	border-right: 2px solid #000000;
}

nav ul li:first-child{
	border: none;
}

 nav ul li a{
 	display: block;
 	height: 55px;
 	margin: 10px 30px 0px 30px;
	padding: 5px 5px 0px 5px;
	text-decoration: none;
}

a:link{
	color: #989898;
}

a:visited{
	color: #989898;
}

a:hover{
	color: #b27f7f;
}


#active{
	color: #ffffff;
}

.image{
	margin: 0px 10px 0px 70px;
	padding: 0;
}

/*	=	=	=	=	=	=	Home	=	=	=	=	=	*/

div#head{
	margin: -10px 0px 0px 113px;
	max-width: 960px;
	height: 290px;
}

#head img{
	width: 100%;
	margin: 0px;
}

div#posters{

}

#posters h1{
	margin-left: 450px;
}

#posters ul{
	margin-left: 120px;
}

#posters ul li{
	display: inline;
	float: left;
	margin: 10px 10px 10px 10px;
}

/*	=	=	Secondary content =	=	*/

div#secondary{
	margin-left: 110px;
}

div#directions{
	width: 280px;
	height: 400px;
	margin: 10px 20px;
	overflow: hidden;
	clear: left;
	float: left;
	background: rgba(65, 49, 39, .7);
}

#directions h3{
	margin: 5px 0px 5px 55px;
}

#directions img{
	margin: 5px 10px;
}

#directions h4{
	margin: 10px;
	font-family: 'CopystructNormal';
	color: #59181e;
}

#directions ul{
	margin: 5px 5px 5px 20px;
}

#directions ul li{
	color: #ffffff;
	margin: 5px;
}

#directions ul li a{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	color: #ffffff; 
	text-decoration: none;
	border-bottom: 2px solid #ffffff;

}

div#blog{
	width: 280px;
	height: 400px;
	margin: 10px 20px;
	overflow: hidden;
	float: left;
	background: rgba(65, 49, 39, .7);
}

#blog h3{
	margin: 5px 0px 5px 110px;
}

#blog a{
	color: #ffffff;
	text-decoration: none;
	border-bottom: 2px solid #ffffff;
	float: right;
	margin: 5px 10px 5px 0px;
}

#blog h4{
	clear: right;
	margin: 10px 5px 10px 5px;
}

#blog p{
	margin: 5px;
}

div#gallery{
	width: 280px;
	height: 400px;
	margin: 10px 20px;
	overflow: hidden;
	float: left;
	background: rgba(65, 49, 39, .7);
}

#gallery h3{
	margin: 5px 0px 5px 55px;
}

#gallery img{
	margin: 5px 10px;
}

/*	=	= 	=	=	=	=	Forms	=	=	=	=	=	=	*/

div#wrapper{
	margin: 0 auto;
}

form#newsletter{
	margin-top: 20px;
	width: 300px;
	padding: 5px;
	background: blue;
	float: left;
	margin: 20px;
}

div#job{
	width: 300px;
	background: green;
	padding: 5px;
	float: left;
	margin: 20px;
}

form#message{
	background: red;
	width: 600px;
	padding: 5px;
}

form#book{
	background: purple;
	width: 600px;
	padding: 5px;
}



/*	=	=	=	Button	=	=	=	*/


.button {
   border-top: 1px solid #b87a53;
   background: #94592c;
   background: -webkit-gradient(linear, left top, left bottom, from(#b87a53), to(#94592c));
   background: -webkit-linear-gradient(top, #b87a53, #94592c);
   background: -moz-linear-gradient(top, #b87a53, #94592c);
   background: -ms-linear-gradient(top, #b87a53, #94592c);
   background: -o-linear-gradient(top, #b87a53, #94592c);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #c4c4c4;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #783a28;
   background: #783a28;
   color: #fafafa;
   }
.button:active {
   border-top-color: #e87731;
   background: #e87731;
   }

/*	=	=	=	=	=	Calander	=	=	=	=	=	*/

/*	=	=	=	Sidebar	=	=	=	*/

#aside{
	background: rgba(155, 116, 117, .7);
	width: 275px;
	float: left;
	margin-left: 30px;
	margin-top: 40px;
}

#aside h3{
	margin: 5px 0px 5px 55px;
}

#aside ul li{
	list-style-type: none;
	margin: 5px 0px 5px 25px;
}

/*	=	=	=	main =	=	=	*/

div#main{
	margin-left: 400px;
}

#main h1{
	margin-left: 100px;
}

/*	=	=	= Months	=	=	=	*/

.month{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 600px;
}

.monthof{
	background: #59181e;
	width: 590px;
	padding: 5px 0px 5px 10px;
	font-size: 20px;
	font-family: 'CopystructNormal';
	color: #fff;

}

.bandodd{
	background: rgba(65, 49, 39, .7);
	width: 200px;
	height: 51px;
	padding-bottom: 5px;
	float: left;
}

.bandodd p{
	color: #fff;
	padding: 5px;
}

.priceodd{
	background: rgba(65, 49, 39, .7);
	width: 200px;
	height: 51px;
	padding-bottom: 5px;
	float: left;	
}

.priceodd p{
	color: #fff;
	padding: 3px;
}

.timeodd{
	background: rgba(65, 49, 39, .7);
	width: 200px;
	height: 51px;
	padding-bottom: 5px;
	float: left;
}

.timeodd p{
	color: #fff;
	padding: 3px;
}

.bandeven{
	background: rgba(65, 49, 39, .9);
	width: 200px;
	height: 51px;
	padding-bottom: 5px;
	float: left;
}

.bandeven p{
	color: #fff;
	padding: 3px;
}

.priceeven{
	background: rgba(65, 49, 39, .9);
	width: 200px;
	height: 51px;
	padding-bottom: 5px;
	float: left;
}

.priceeven p{
	color: #fff;
	padding: 3px;
}

.timeeven{
	background: rgba(65, 49, 39, .9);
	width: 200px;
	height: 51px;
	padding-bottom: 5px;
	float: left;
}

.timeeven p{
	color: #fff;
	padding: 3px;
}


