/* 	=	=	=	=	Reset	=	=	=	=	=*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
		border:0;
		font-size:100%;
		font:inherit;
		vertical-align:baseline;
		margin:0;padding:0
	}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
		display:block
	}

body{
		line-height:1
		margin: 0 auto;
	}


blockquote,q{
		quotes:none
	}

blockquote:before,blockquote:after,q:before,q:after{
		content:none}table{border-collapse:collapse;border-spacing:0
	}

/*	=	=	=	=	=	=	fonts	=	=	=	=	=	=	*/

@font-face {
    font-family: 'CopystructBold';
    src: url('../fonts/copyb___-webfont.eot');
    src: url('../fonts/copyb___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyb___-webfont.woff') format('woff'),
         url('../fonts/copyb___-webfont.ttf') format('truetype'),
         url('../fonts/copyb___-webfont.svg#CopystructBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CopystructNormal';
    src: url('../fonts/copyn___-webfont.eot');
    src: url('../fonts/copyn___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyn___-webfont.woff') format('woff'),
         url('../fonts/copyn___-webfont.ttf') format('truetype'),
         url('../fonts/copyn___-webfont.svg#CopystructNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*	=	=	=	=	body =		=	=	=	=	*/

body{
	background: url(../images/background.jpg);
	margin: 0 auto;
	font-size: 62.5%;
	width: 96%;
}

header{
	padding-bottom: 30px;
}

p, dt, dd{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.400em;/*14px*/
	color: #989898;
}

h1{
	font-size: 2.500em;/*25px*/
	font-family: 'CopystructNormal';
	color: #59181e;
}

h2{
	font-size: 1.100em;/*22px*/
	font-family: 'CopystructNormal';
	color: #59181e;
}

h3{
	font-size: 2.000em;/*20px*/
	font-family: 'CopystructNormal';
	color: #59181e;
}

h4{
	font-size: 1.700em;/*17px*/
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #ffffff;
}


/*	=	=	Navigation	=	=	*/

header{
	margin: 0 auto;
}

header img{
	max-width: 100%;
	width: 100%;
}


nav{
	position: relative;
	bottom: 10px;
}


 nav ul{
	background: #59181e;
	border-radius: 10px;
	width: 100%;/*960px*/
	height: 55px;
	padding: 0;
	overflow: hidden;
}



 nav ul li{
	display: inline;
	float: left;
	width: 10%;/*90/1000*/
	list-style: none;
	font-size: 1.500em;/*15px*/
	font-family: 'CopystructNormal';
	padding: 5px;
	margin-right: 15px;
	text-align: center;
}

nav ul li:first-child{
	background: url(../images/Live-logogrey.png) no-repeat;
	padding-left: 80px;
	margin-left: 50px;
}

 nav ul li a{
 	display: block;
 	height: 55px;
	text-decoration: none;

}



a:link{
	color: #989898;
}

a:visited{
	color: #989898;
}

a:hover{
	color: #b27f7f;
	border-bottom: 1px solid #b27f7f;
}


#active{
	color: #ffffff;
}

.image{
	padding: 0;
}


/*	=	=	=	=	=	=	=	=	Home	=	=	=	=	=	=	=	*/

div#head{
	max-width: 100%;
	height: 290px;
}

#head img{
	width: 100%;
	margin: 0px;
}

div#posters{
	width: 100%; /*100% of 960*/
}

div#posters h1{
	margin-left: 37.5%; /*360/960*/
}

#posters figure{
	width: 22.395833333333%; /*215/960*/
	margin: 01.041666666667% 01.041666666667% 05.208333333333% 01.041666666667%; /*10/960 50/950*/
	opacity: 1;
	height: 320px;
}

#posters figure img{
	width: 100%;
	max-width: 100%;
	opacity: 1;
}

#posters figcaption{
	display: none;
}
/*	=	=	Secondary content =	=	*/

div#secondary{
	margin-right: 5%;	
}

div#directions{
	width: 29.166666666667%; /*280/960*/
	height: 400px;
	margin: 01.041666666667% 02.083333333333%; /*10/960 20/960*/
	overflow: hidden;
	clear: left;
	float: left;
	background: rgba(65, 49, 39, .7);
}

#directions h3{
	margin: 01.785714285714% 0 01.785714285714% 19.642857142857%; /*5/280 55/280*/
}

#directions img{
	margin: 03.571428571429% 02.857142857143%; /*10/280 8/280*/
}

#directions h4{
	margin: 10px;
	font-family: 'CopystructNormal';
	color: #59181e;
}

#directions ul{
	margin: 5px 5px 5px 10px;
}

#directions ul li{
	color: #ffffff;
	margin: 01.785714285714%; /*5/280*/
	list-style-type: none;
}

#directions ul li a{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.000em;
	color: #fff; 
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

#directions ul li a:hover{
	color: #000;
	border-bottom: 1px solid #000;
}

div#blog{
	width: 29.166666666667%; /*280/960*/
	height: 400px;
	margin: 01.041666666667% 02.083333333333%; /*10/960 20/960*/
	overflow: hidden;
	float: left;
	background: rgba(65, 49, 39, .7);
}

#blog h3{
	margin: 01.785714285714% 0 01.785714285714% 39.285714285714%; /*5/280 110/280*/
}

#blog a{
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
	float: right;
	margin: 01.785714285714% 03.571428571429% 01.785714285714% 0px; /*5/280 10/280*/
}

#blog h4{
	clear: right;
	margin: 03.571428571429% 01.785714285714% 03.571428571429% 01.785714285714%; /*10/280 5/280*/
}

#blog p{
	margin: 01.785714285714%;/*5/280*/
}

div#gallery{
	width: 29.166666666667%; /*280/960*/
	height: 400px;
	margin: 01.041666666667% 02.083333333333%; /*10/960 20/960*/
	overflow: hidden;
	float: left;
	background: rgba(65, 49, 39, .7);
}

#gallery h3{
	margin: 01.785714285714% 0 0 19.642857142857%; /*5/280 55/280*/
}

#gallery img{
	margin: 0.714285714286% 03.571428571429%; /*2/280 10/280*/
}

/*	=	= 	=	=	=	=	=	=	Forms	=	=	=	=	=	=	=	*/

h1{
	margin-left: 400px;
}

/*	=	=	=	Button 	=	=	=	*/

button {
	float: left;
	clear: left;
	width: 150px;
	height: 30px;
	margin: 5px 0px 5px 100px;
   background: #5e1920;
   background: -webkit-gradient(linear, left top, left bottom, from(#7e222a), to(#5e1920));
   background: -webkit-linear-gradient(top, #7e222a, #5e1920);
   background: -moz-linear-gradient(top, #7e222a, #5e1920);
   background: -ms-linear-gradient(top, #7e222a, #5e1920);
   background: -o-linear-gradient(top, #7e222a, #5e1920);
   padding: 7px 13px;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   vertical-align: center;
   border: none;
   text-decoration: none;
   color: #fff;
   }

button.big{
	margin-left: 165px;
	margin-top: 10px
}

button a{
	/*font-family: Futura, "Trebuchet MS", Arial, Sans-Serif;
	color: #fff;
   text-decoration: none;
   font-size: 1.500em;/*15px*/*/

}

button:hover {
   border-top-color: #b27f7f;
   background: #59181e;
   }

button a:hover{
	color: #000000;
}

button:active {
   border-top-color: #b27f7f;
   background: #b27f7f;
   }

/*	=	=	=	Newsletter	=	=	=	*/
form#newsletter{
	margin-top: 20px;
	width: 44%;/*440/1000*/
	height: 370px;
	padding: .454545454546%; /*5/440*/
	background: rgba(155, 116, 117, .7);
	float: left;
	margin: 02.272727272727%;/*10/440*/
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: -2px 6px 9px rgba(82, 78, 64, 0.75);
	-moz-box-shadow:    -2px 6px 9px rgba(82, 78, 64, 0.75);
	box-shadow:         -2px 6px 9px rgba(82, 78, 64, 0.75);
}

#newsletter h3{
	margin: 01.136363636364% 0 0.454545454546% 0; /*5/440 2/440*/
	background: rgba(65, 49, 39, .7);
	padding: 3px 3px 3px 10px;
	width: 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#newsletter ul li{
	margin: 0.681818181818% 0 0.681818181818% 04.545454545455%; /*3/440 20/440*/
	font-size: 1.500em;/*15px*/
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #fff;
}

#newsletter label{
	display: block;
	font-size: 1.700em;/*17px*/
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #fff;
	margin: 0px 0px 2px 5px;
}

#newsletter input{
	width: 100%;/*400/440*/
	height: 20px;
	margin: .454545454546% 0 01.136363636364% 05.681818181818%; /*2/440, 5/440, 30/440*/

}

#check input{
	width: 20px;
	float: left;
}

#check p{
	float: left;
	color: #fff;
	margin-left: 5px;
}

/*	=	=	=	Job	=	=	=	*/

div#job{
	width: 44%;/*440/1000*/
	background: rgba(155, 116, 117, .7);
	padding: .454545454546%;
	float: left;
	margin: 02.272727272727%;/*10/440*/
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;-webkit-box-shadow: -2px 6px 9px rgba(82, 78, 64, 0.75);
	-moz-box-shadow:    -2px 6px 9px rgba(82, 78, 64, 0.75);
	box-shadow:         -2px 6px 9px rgba(82, 78, 64, 0.75);
}

#job h3{
	margin: 01.136363636364% 0 0.454545454546% 0; /*5/440 2/440*/
	background: rgba(65, 49, 39, .7);
	padding: 0.681818181818% 0.681818181818% 0.681818181818% 02.272727272727%; /*3/440 10/440*/
	width: 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#job p{
	font-size: 1.500em;/*15px*/
	width: 90.909090909091%;/*360/440*/
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #fff;
	margin-left: 04.545454545455%;/*20/440*/
}

#job ul li{
	font-size: 1.500em;/*15px*/
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #fff;
	margin-left: 11.363636363636%;/*50/440*/
}

#job ul li a{
	font-size: 1.100em;/*15px*/
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff
}

#job ul li a:hover{
	border-bottom: 1px solid #000;
	color: #000;
}

/*	=	=	=	Message	=	=	=	*/

form#message{
	clear: left;
	background: rgba(65, 49, 39, .7);
	width: 96%;
	height: 400px;
	margin: 03.409090909091% 0 03.409090909091% 02.272727272727%; /*15/440 10/440*/
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;-webkit-box-shadow: -2px 6px 9px rgba(82, 78, 64, 0.75);
	-moz-box-shadow:    -2px 6px 9px rgba(82, 78, 64, 0.75);
	box-shadow:         -2px 6px 9px rgba(82, 78, 64, 0.75);


}

#message h3, #book h3{
	margin: 02.272727272727% 0px 0.454545454546% 02.272727272727%; /*10/440 2/440*/
	padding: 01.136363636364% 01.136363636364%; /*2/440 5/440*/
	background-color: rgba(155, 116, 117, .7);
	width: 960%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;


}


#message label{
	font-size: 1.700em;/*17px*/
	float: left;
	clear: left;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #fff;
	margin: 5px 0px 2px 10px;
	width: 150px; /*150/960*/
	text-align: right;
}

#message input, #message select, #message textarea{
	float: left;
	width: 250px;
	height: 15px;
	margin: 5px 0px 2px 5px;
}

textarea {
	min-width: 300px;
	min-height: 100px;
}

fieldset{
	float: left;
	overflow: hidden;
}

div.side{
	width: 250px;
	float: left;
	margin: 55px 0px 5px 10px;
	overflow: hidden;
	position: absolute;
	right: 250px;
}

div.side p{
	color: #fff;
}
/*	=	=	=	Book show =	=	=	*/

form#book{
	clear: left;
	background: rgba(65, 49, 39, .7);
	width: 96%;
	height: 700px;
	margin: 15px 0px 2px 20px;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;-webkit-box-shadow: -2px 6px 9px rgba(82, 78, 64, 0.75);
	-moz-box-shadow:    -2px 6px 9px rgba(82, 78, 64, 0.75);
	box-shadow:         -2px 6px 9px rgba(82, 78, 64, 0.75);
}

#book h3{
	margin: 5px 0px 2px 10px;
}

#book label{
	width: 150px;
	font-size: 1.700em;/*17px*/
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #fff;
	margin: 0px 5px 2px 5px;
	float: left;
	clear: left;
	text-align: right;
}

#book input, #book textarea{
	float: left;
	width: 250px;
	margin: 5px 0px 2px 5px;
}

#book select{
	float: left;
	margin: 5px 0px 2px 0px;
}




/*	=	=	=	=	=	=	=	=	Calander	=	=	=	=	=	=	*/

/*	=	=	=	Sidebar	=	=	=	*/

#aside{
	background: rgba(155, 116, 117, .7);
	width: 28.645833333333%; /*275/960*/
	height: 400px;
	float: left;
}

#aside h3{
	margin: 03.891050583658% 0 0 07.272727272727%; 10/275 20/275
}

#aside p{
	color: #fff;
	margin-left: 07.272727272727%; /*20/275*/
}

#aside ul{
	width: 90%;
}

#aside ul li{
	list-style-type: none;
	margin: 0.735294117647% 0 0.441176470588% 02.941176470588%; /*5/680 3/680 20/680*/
	font-size: 1.400em;
	color: #fff;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}

#aside ul li img{
	width: 100%;
	max-width: 100%;
}

/*	=	=	=	main =	=	=	*/

div.main{
	margin-left: 35%;/*350/1000*/
}

.main h1{
	margin-left: 0px;
	padding: 1% 00.5%; /*10/1000 5/1000*/
}

/*	=	=	= Months	=	=	=	*/

.month{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%; /*100% of 960*/
	overflow: hidden;
}

.monthof{
	background: #59181e;
	width: 100%;
	padding: .520833333333% 0 .520833333333% 01.041666666667%; /*5/960 10/960*/
	font-size: 2.000em;/*20px*/
	font-family: 'CopystructNormal';
	color: #fff;
	overflow: hidden;
}

.monthof h2{
	color: #fff;
}

.bandodd{
	background: rgba(65, 49, 39, .7);
	width: 33.333333333333%;/*320/960*/
	height: 51px;
	padding-bottom: 5px;
	float: left;
}

.bandodd p{
	color: #fff;
	padding: 01.5625% 0 0 03.125%; /*6/320 10/320*/

}

.priceodd{
	background: rgba(65, 49, 39, .7);
	width: 33.333333333333%;/*320/960*/
	height: 51px;
	padding-bottom: 5px;
	float: left;	
}

.priceodd p{
	color: #fff;
	padding: 01.5625% 0 0 03.125%; /*6/320 10/320*/
}

.timeodd{
	background: rgba(65, 49, 39, .7);
	width: 33.333333333333%;/*320/960*/
	height: 51px;
	padding-bottom: 5px;
	float: left;
}

.timeodd p{
	color: #fff;
	padding: 01.5625% 0 0 03.125%; /*6/320 10/320*/
}

.bandeven{
	background: rgba(65, 49, 39, .9);
	width: 33.333333333333%;/*320/960*/
	height: 51px;
	padding-bottom: 5px;
	float: left;
}

.bandeven p{
	color: #fff;
	padding: 01.5625% 0 0 03.125%; /*6/320 10/320*/
}

.priceeven{
	background: rgba(65, 49, 39, .9);
	width: 33.333333333333%;/*320/960*/
	height: 51px;
	padding-bottom: 5px;
	float: left;
}

.priceeven p{
	color: #fff;
	padding: 6px 0px 0px 10px;
}

.timeeven{
	background: rgba(65, 49, 39, .9);
	width: 33.333333333333%;/*320/960*/
	height: 51px;
	padding-bottom: 5px;
	float: left;
}

.timeeven p{
	color: #fff;
	padding: 01.5625% 0 0 03.125%; /*6/320 10/320*/
}

/*	=	=	=	=	=	=	=	=	Blog	=	=	=	=	=	=	=	*/

 div#blogpage{
	overflow: hidden;
	width: 70%; /*70% of 960 around 680px*/

}

 div#blogpage h1{
	margin: 0.5% 0 0.5% 3%; /*5/1000 30/1000*/
	font-size: 2.700em;
	padding: 0 0 0 4%; /*4/1000*/
}


 #blogpage h2{
	font-size: 1.500em;
	margin: 0.5% 0 0 0.5%; /*5/1000*/
	padding: 1.5% 1%; /*10/1000 5/1000*/
	background-color: rgba(155, 116, 117, .7);
	width: 100%; 
}

.who{
	margin: 0.294117647059% 0 0.441176470588% 0.735294117647%; /*2/680 3/680 5/680*/
	font-size: 1.200em;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;

}

.entry dt{
	color: #59181e;
}

.entry p, .entry li, dd{
	margin: 0.735294117647% 0 0.441176470588% 02.941176470588%; /*5/680 3/680 20/680*/
	font-size: 1.400em;
	color: #fff;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.entry li{
	margin-left: 03.676470588235%;/*25/680*/
}

.entry h4{
	color: #59181e;
}

article{
	margin: 0.735294117647% 0 04.411764705882% 07.352941176471%; /*5/680 30/680 50/680*/
	background-color: rgba(65, 49, 39, .7);
	width: 85%;
	padding: 01.470588235294%; /*10/680*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;-webkit-box-shadow: -2px 6px 9px rgba(82, 78, 64, 0.75);
	-moz-box-shadow:    -2px 6px 9px rgba(82, 78, 64, 0.75);
	box-shadow:         -2px 6px 9px rgba(82, 78, 64, 0.75);
}

div#comments{
	margin: 01.470588235294% 0 0.735294117647% 22.058823529412%; /*10/680 5/680 150/680*/
}

#comments a{
	padding: 0.735294117647%; /*5/680*/
	font-size: 1.300em;
	font-family: Futura "Trebuchet Ms", Arial, sans-serif;
}

/*	=	=	=	=	=	=	=	=	=	FAQ	=	=	=	=	=	=	=	*/

ul#category li a {
	font-size: 1.000em;/*15px*/
	font-family: Futura, "Trebuchet Ms", Arial, sans-serif;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
}

div#questions h1{
	margin-left: 0px;
	padding: 10px 5px;
}

ul#category li a:hover{
	color: #000;
	border-bottom: 2px solid #000;
}

div#questions{
	width: 600px;
	float: left;
	margin-left: 50px;
}

div#questions h2{
	width: 600px;
	margin: 5px 0px 5px 10px;
	padding: 5px;
}

.subject{
	background: rgba(155, 116, 117, .7);
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;	
	border-bottom-left-radius: 10px;
}

.subject h3{
	padding: 5px;

}

div#questions dd, dt{
	margin: 5px 0px 5px 15px;
	color: #fff;
}

div#questions dd{
	margin-left: 25px;
}

div#tickets, div#events, div#business{
	background: rgba(65, 49, 39, .7);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;-webkit-box-shadow: -2px 6px 9px rgba(82, 78, 64, 0.75);
	-moz-box-shadow:    -2px 6px 9px rgba(82, 78, 64, 0.75);
	box-shadow:         -2px 6px 9px rgba(82, 78, 64, 0.75);
	margin-bottom: 10px;
	padding-bottom: 5px;

}

/*	=	=	=	=	=	=	Gallery	=	=	=	=	=	=	=	*/

#gallerypage{
	
}

#gallerypage h1{
	margin-left: 375px;
}

figure{
	float: left;
	height: 300px;
	margin: 10px 10px 10px 20px;
	position: relative;
	opacity: .7;
}

figure:hover{
	opacity: 1;
	border-bottom: none;
}

figcaption{
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(155, 116, 117, .9);
	color: #fff;
	height: 15px;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.200em;
	margin: 0 0px 2px 7px;
	padding: 3px;
}

img{
	max-width: 100%;
}


/*	=	=	=	=	=	=	=		footer	=	=	=	=	=	=	=	*/

/*	=	=	footer nav	=	=	*/
div#footer{
	background: rgba(155, 116, 117, .7);
	width: 100%;
	clear: left;
	height: 240px;
}

#footer ul{
	background: rgba(65, 49, 39, .7);
	width: 100%;
}

#footer ul li{
	display: inline;
	width: 07.291666666667%;/*70px*/
	height: 40px;
	border-left: 3px solid #59181e;
}

#footer ul li:first-child{
	border: none;
	margin-left: 15%;/*150/1000*/
}

#footer ul li a{
	height: 40px;
	margin: .520833333333% 1.041666666667%;/*5px 10px*/
	padding: 0% .520833333333%;/*0px 5px*/
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.500em;/*20px*/
	text-decoration: none;
}

/*	=	=	Rest of footer	=	=	*/
#footer img{
	margin-top: 20px;
	margin-left: 18%;/*180/1000*/
	float: left;
	
}

div#doors{
	float: left;
	width: 25%; /*250/1000*/
	margin: 2% 1.5%; /*20/1000 15/1000*/ 
}

div#doors p{
	color: #59181e;
}

div#hours{
	float: left;
	width: 25%;/*250/1000*/
	margin: 2% 0%; /*20/1000*/
}

div#hours p{
	color: #59181e;
}

div#copyright{
	clear: left;
	width: 52.083333333333%;/*500px*/
	margin-left: 30%;/*300/1000*/
}

div#copyright p{
	color: #59181e;
}

div#social{
	clear: left;
	margin-left: 45%; /*450/1000*/
}

div#social img{
	margin-top: 0;
	margin-left: 0;
	padding: 0% .5%; /*5/1000*/
}



/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
							Media Queries
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

@media screen and (max-width: 400px){

	body{
		width: 400px;
	}

	h1{
		font-size: 2.000em;/*15px*/
		font-family: 'CopystructNormal';
		color: #59181e;
	}

	h2{
		font-size: 1.100em;/*22px*/
		font-family: 'CopystructNormal';
		color: #59181e;
	}

	h3{
		font-size: 1.500em;/*20px*/
		font-family: 'CopystructNormal';
		color: #59181e;
	}

	h4{
		font-size: 1.700em;/*17px*/
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		color: #ffffff;
	}

	/*	=	=	Navigation	=	=	*/

	

	header img{
		display: none;
	}


	nav{
		position: relative;
		bottom: 10px;
	}


	 nav ul{
		width: 100%;/*400*/
		height: 40px;
		padding: 0;
		overflow: hidden;
	}



 	nav ul li{
		display: inline;
		float: left;
		list-style: none;
		font-size: 1.000em;/*15px*/
		font-family: 'CopystructNormal';
		padding-top: 10px;
		margin-left: 3px;
		text-align: center;
		
	}

	nav ul li:first-child{
		background: none;
		margin-left: 5px;
		padding: 0;
		padding-top: 10px;
	}

 	nav ul li a{
 		height: 40px;
	
	}


	/* 	=	=	=	=	=	=	Home	=	=	=	=	=	*/


	div#posters{
		width: 100%; /*100% of 400*/
		margin: 01.25; /*5/400*/
	}

	div#posters h1{
		margin-left: 22.5%; /*90/400*/
	}

	#posters figure{
		width: 40%; /*215/960*/
		margin: 0;
		opacity: 1;
		padding: 02.325581395349%;/*5/215*/;
		height: 250px;
	}

	#posters figure img{
		opacity: 1;
		margin: 04.651162790698%; /*10/215*/

	}

	#posters figcaption{
		display: none;
	}

	div#secondary{
		display: none;
	}

	/*	=	=	=	=	=	=	footer nav	=	=	=	=	=	=	*/

	div#footer{
		background: rgba(155, 116, 117, .7);
		width: 100%;
		clear: left;
		height: 150px;	
	}

	#footer ul{
		background: rgba(65, 49, 39, .7);
		width: 100%;
	}

	#footer ul li{
		display: inline;
		width: 02.5%;/*10/400*/
		height: 40px;
		border-left: 0px solid #59181e;	
	}

	#footer ul li:first-child{
		border: none;
		margin-left: 01.75%;/*7/400*/
	}

	#footer ul li a{
		height: 40px;
		margin: .520833333333%;/*5px 10px*/
		padding: 0%;/*0px 5px*/
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
		font-size: .900em;/*20px*/
		text-decoration: none;
	}

	/*	=	=	=	Rest of footer	=	=	*/
	#footer img{
		margin-left: 18%;/*180/1000*/
		float: left;
		width: 100%;
		max-width: 100%;	
	}

	div.contain{
		width: 10%;
		display: none;
	}

	div#doors{
		width: 95%; /*250/1000*/
		margin: 2% 1.5%; /*20/1000 15/1000*/ 
		margin-left: 55px;
	}

	div#doors p{
		color: #59181e;
		font-size: 1.000em;
		float: left;
		padding-left: 2%; /*4/400*/
	}

	div#hours{
		width: 100%;/*250/1000*/
		margin: 2% 0%; /*20/1000*/
		margin-left: 02.5; /*10/400*/
	}

	div#hours p{
		color: #59181e;
		font-size: 1.000em;
		float: left;
		padding-left: 2%;/*4/400*/
	}

	div#copyright{
		width: 100%;
		margin: 2% 1.5%; /*20/1000 15/1000*/
		margin-left: 06.25%; /*25/400*/
	}

	div#copyright p{
		color: #59181e;
		font-size: 1.000em;
	}

	div#social{
		display: none;	
	}

	/*	=	=	=	=	=	=	=	=	Calander	=	=	=	=	=	=	*/

	/*	=	=	=	Sidebar	=	=	=	*/

	#aside{
		background: none;
		width: 28.645833333333%; /*275/960*/
		height: 400px;
		display: none;
	}

	#aside h3{
		margin: 03.891050583658% 0 0 07.272727272727%; 10/275 20/275
		display: none;
	}

	#aside p{
		color: #fff;
		margin-left: 07.272727272727%; /*20/275*/
		display: none;
	}

	#aside ul{
		width: 90%;
	}

	#aside ul li{
		list-style-type: none;

	}

	#aside ul li img{
		width: 100%;
		max-width: 100%;
	}

	/*	=	=	=	main =	=	=	*/

	div.main{
		margin-left: 01.25%;/*5/400*/
	}

	.main h1{
		margin-left: 20%;/*80/400*/
		padding: 1% 00.5%; /*10/1000 5/1000*/
	}

	/*	=	=	= Months	=	=	=	*/

	.month{
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%; /*100% of 400*/
		overflow: hidden;
	}

	.monthof{
		background: #59181e;
		width: 100%;
		padding: .520833333333% 0 .520833333333% 01.041666666667%; /*5/960 10/960*/
		font-size: 2.000em;/*20px*/
		font-family: 'CopystructNormal';
		color: #fff;
		overflow: hidden;
	}

	.monthof h2{
		color: #fff;
		font-size: .800em; /*10px*/
	}

	.bandodd{
		background: rgba(65, 49, 39, .7);
		width: 33.333333333333%;/*320/960*/
		height: 35px;
		padding-bottom: 5px;
		float: left;
	}

	.bandodd p{
		color: #fff;
		padding: 0.9375% 0 0.625% 0.9375%; /*3/320 2/320*/
		font-size: 1.000em;

	}

	.priceodd{
		background: rgba(65, 49, 39, .7);
		width: 33.333333333333%;/*320/960*/
		height: 35px;
		padding-bottom: 5px;
		float: left;	
	}

	.priceodd p{
		color: #fff;
		padding: 3px 0 2px 3px; /*6/320 10/320*/
		font-size: 1.000em;
	}

	.timeodd{
		background: rgba(65, 49, 39, .7);
		width: 33.333333333333%;/*320/960*/
		height: 35px;
		padding-bottom: 5px;
		float: left;
	}

	.timeodd p{
		color: #fff;
		padding: 3px 0 2px 3px; /*6/320 10/320*/
		font-size: 1.000em;
	}

	.bandeven{
		background: rgba(65, 49, 39, .9);
		width: 33.333333333333%;/*320/960*/
		height: 35px;
		padding-bottom: 5px;
		float: left;
	}

	.bandeven p{
		color: #fff;
		padding: 3px 0 2px 3px; /*6/320 10/320*/
		font-size: 1.000em;	
	}

	.priceeven{
		background: rgba(65, 49, 39, .9);
		width: 33.333333333333%;/*320/960*/
		height: 35px;
		padding-bottom: 5px;
		float: left;
	}

	.priceeven p{
		color: #fff;
		padding: 3px 0 2px 3px;
		font-size: 1.000em;
	}

	.timeeven{
		background: rgba(65, 49, 39, .9);
		width: 33.333333333333%;/*320/960*/
		height: 35px;
		padding-bottom: 5px;
		float: left;
	}

	.timeeven p{
		color: #fff;
		padding: 3px 0 2px 3px; /*6/320 10/320*/
		font-size: 1.000em;
	}

	/*	=	=	=	=	=	=	=	=	Blog	=	=	=	=	=	=	=	*/

 	div#blogpage{
		overflow: hidden;
		width: 100%; /*100% of 400 around 680px*/
	}

	 div#blogpage h1{
		margin: 0.5% 0 0.5% 17.5%; /*5/1000 30/1000*/
		font-size: 2.000em;
		padding: 0 0 0 4%; /*4/1000*/
	}


 	#blogpage h2{
		font-size: 1.500em;
		margin: 0.5% 0 0 0.5%; /*5/1000*/
		padding: 1.5% 1%; /*10/1000 5/1000*/
		background-color: rgba(155, 116, 117, .7);
		width: 100%; 
	}

	.who{
		margin: 0.294117647059% 0 0.441176470588% 0.735294117647%; /*2/680 3/680 5/680*/
		font-size: 1.200em;
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	}

	.entry dt{
		color: #59181e;
	}

	.entry p, .entry li, dd{
		margin: 0.735294117647% 0 0.441176470588% 02.941176470588%; /*5/680 3/680 20/680*/
		font-size: 1.400em;
		color: #fff;
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	}

	.entry li{
		margin-left: 0.5%;/*25/680*/
	}

	.entry h4{
		color: #59181e;
	}

	article{
		margin: 0.735294117647% 0 04.411764705882% 01.25%; /*5/680 30/680 50/680*/
		background-color: rgba(65, 49, 39, .7);
		width: 90%;
		padding: 01.470588235294%; /*10/680*/
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;-webkit-box-shadow: -2px 6px 9px rgba(82, 78, 64, 0.75);
		-moz-box-shadow:    -2px 6px 9px rgba(82, 78, 64, 0.75);
		box-shadow:         -2px 6px 9px rgba(82, 78, 64, 0.75);
	}

	div#comments{
		margin: 01.470588235294% 0 0.735294117647% 07.5%; /*10/680 5/680 30/400*/
	}

	#comments a{
		padding: 0.735294117647%; /*5/680*/
		font-size: 1.300em;
		font-family: Futura "Trebuchet Ms", Arial, sans-serif;
	}	
}
