/* 	=	=	=	=	Reset	=	=	=	=	=*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
		border:0;
		font-size:100%;
		font:inherit;
		vertical-align:baseline;
		margin:0;padding:0
	}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
		display:block
	}

body{
		line-height:1
	}


blockquote,q{
		quotes:none
	}

blockquote:before,blockquote:after,q:before,q:after{
		content:none}table{border-collapse:collapse;border-spacing:0
	}

/*	=	=	=	=	body	=	=	=	*/

body{
	background: url(../Images/Background.jpg);
	font-size: 62.5%;
}

div#wrapper{
	background: rgba(155, 154, 178, .6);
	width: 960px;
	height: 800px;
	margin: 0 auto;
	border-radius: 20px;
	padding-top: 10px;
}

h1{
	font: 3.000em 'Niconne', cursive;
	background-color: #5d5c73;
	width: 250px;
	border-radius: 0px 10px 10px 0px;
	padding: 0px 10px 0px 10px;
	margin: 10px 0px 10px -5px;
}

h2{
	font: 2.500em 'Niconne', cursive;
	margin: 5px 0px 5px 25px;
}

h3{
	font: 2.000em 'Niconne', cursive;
	margin: 5px 0px 5px 25px;
}

p, li{
	font: 1.400em Helvetica, Arial, Serif;
	margin: 5px 0px 0px 35px;
	width: 800px;
}

ul{
	margin-left: 20px;
}